.client-layout-bg {
    background-color: #e11f1f;
    min-height: 100vh;
    min-width: 100vw;
    padding: 1em 0;
}

.client-layout {
    background-color: #ffffff;
    padding: 10px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__table-number {
        color: #291fe1; 
        font-weight: bold;  
        font-size: 2em; 
        font-family: 'Poppins', sans-serif;  // Cambia el tipo de letra

    }
}
